@font-face {
   font-family: 'Audiowide-Regular';
   font-display: swap;
   src: url('file:///C:/Users/az/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-08_180710/fonts/Audiowide-Regular/font.ttf');
}
